gifs/
credentials.env
.vscode/__pycache__/
data/
cogs/currency_aliases.py
cogs/currency_aliases.json
ai/__pycache__
cogs/archived/
.vscode
music/__pycache__/music.cpython-312.pyc
yuuka-radio-streams.md
esef_learns.md
icy_supported.json
icy_metadata_radios.md
__pycache__/
ssh_update.py
ssh_*.py
blue_archive/ba_students.json
